<template>
  <div>
    <h3>Input as binary data</h3>
    <div class="inputter">{{ bnumber }}</div>
    <div>
      <button @click="add(1)">1</button>
      <button @click="add(0)">0</button>
      <button @click="dialog = true">Submit</button>
      <button @click="bnumber = ''">Reset</button>
    </div>

    <DialogModal v-model="dialog">
      <template v-slot:header>
        <span>Congratulation</span>
      </template>
      <div>Your selected number is {{ number | phoneNumber }}</div>
      <template v-slot:footer>
        <button @click="dialog = false">Dismiss</button>
      </template>
    </DialogModal>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import phoneNumber from "../filters/phoneNumber";
import DialogModal from "../components/DialogModal.vue";

@Component({
  name: "Binary",
  filters: {
    phoneNumber
  },
  components: {
    DialogModal
  }
})
export default class Binary extends Vue {
  public bnumber = "";
  public dialog = false;

  add(num: number) {
    if (this.number > 99999999) {
      return;
    }
    this.bnumber += String(num);
  }

  get number(): number {
    return parseInt(this.bnumber, 2);
  }
}
</script>

<style scoped>
.inputter {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
</style>
