<template>
  <div class="wrapper">
    <div>
      <DropdownSelect
        v-model="first"
        :disabled="disabled"
        :options="numbers"
      ></DropdownSelect>
      <span>-</span>
      <DropdownSelect
        v-model="second"
        :disabled="disabled"
        :options="numbers"
      ></DropdownSelect>
    </div>

    <h3>Your phone number is {{ first }}-{{ second }}</h3>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import DropdownSelect from "../components/DropdownSelect.vue";

@Component({
  name: "Dropdown",
  components: {
    DropdownSelect
  }
})
export default class Dropdown extends Vue {
  public first = "0000";
  public second = "0000";
  public numbers = ["0000"];

  created() {
    fetch("number-list.json")
      .then(res => res.json())
      .then(list => {
        this.numbers = list;
      });
  }

  get disabled() {
    return this.numbers.length <= 1;
  }
}
</script>

<style scoped></style>
