<template>
  <div>
    <div>
      Comparing your phone number with <b>{{ number | phoneNumber }}</b
      >, your number is:
    </div>

    <div>
      <button @click="smaller">Smaller</button>
      <button @click="larger">Larger</button>
      <button @click="submit">Equal</button>
      <button @click="undo">Undo</button>
      <button @click="reset">Reset</button>
    </div>

    <DialogModal v-model="dialog">
      <template v-slot:header>
        <span>Congratulation</span>
      </template>

      <div>
        You have selected your number: {{ number }} after {{ clicks }} clicks.
      </div>

      <template v-slot:footer>
        <button @click="dismiss">Dismiss</button>
      </template>
    </DialogModal>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import phoneNumber from "../filters/phoneNumber";
import DialogModal from "../components/DialogModal.vue";

@Component({
  name: "Guess",
  filters: {
    phoneNumber
  },
  components: {
    DialogModal
  }
})
export default class Guess extends Vue {
  public clicks = 0;
  public upper = 99999999;
  public lower = 0;
  public upperLog: number[] = [];
  public lowerLog: number[] = [];
  public dialog = false;

  get number(): number {
    return Math.floor((this.upper + this.lower) / 2);
  }

  smaller() {
    if (this.upper <= 0) {
      return;
    }

    this.upperLog.push(this.upper);
    this.lowerLog.push(this.lower);
    if (this.number !== 0) {
      this.upper = this.number - 1;
    }

    this.clicks++;
  }

  larger() {
    this.upperLog.push(this.upper);
    this.lowerLog.push(this.lower);
    this.lower = this.number + 1;
    this.clicks++;
  }

  submit() {
    this.dialog = true;
  }

  undo() {
    if (this.clicks === 0) {
      return;
    }
    if (this.clicks === 1) {
      this.reset();
      return;
    }

    if (this.upperLog.length > 0) {
      this.upper = this.upperLog.pop()!;
    }
    if (this.lowerLog.length > 0) {
      this.lower = this.lowerLog.pop()!;
    }
    this.clicks--;
  }

  reset() {
    this.clicks = 0;
    this.upper = 99999999;
    this.lower = 0;
    this.upperLog = [];
    this.lowerLog = [];
  }

  dismiss() {
    this.dialog = false;
    this.reset();
  }
}
</script>

<style scoped></style>
