<template>
  <div>
    <div>{{ number | phoneNumber }}</div>

    <div>
      <button class="plus" @click="number += n">+{{ n }}</button>
      <button @click="submit">Submit</button>
      <button @click="number = 0">Reset</button>
      <label>
        Beast mode
        <input type="checkbox" v-model="beast" />
      </label>
    </div>

    <DialogModal v-model="dialog">
      <template v-slot:header>
        <span>Congratulations</span>
      </template>

      <div>
        You have submitted your phone number as {{ number | phoneNumber }}
      </div>

      <template v-slot:footer>
        <button @click="dismiss">Dismiss</button>
      </template>
    </DialogModal>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import phoneNumber from "../filters/phoneNumber";
import DialogModal from "../components/DialogModal.vue";

@Component({
  name: "PlusN",
  filters: {
    phoneNumber
  },
  components: {
    DialogModal
  }
})
export default class PlusN extends Vue {
  public number = 0;
  public n = 1;
  public beast = false;
  public dialog = false;
  public timer: number | null = null;

  created() {
    this.timer = setInterval(this.tick, 100);
  }

  beforeDestroy() {
    if (this.timer != null) {
      clearInterval(this.timer);
      this.timer = null;
    }
  }

  @Watch("beast")
  attachTick() {
    if (this.timer != null) {
      clearInterval(this.timer);
      this.timer = null;
    }
    const interval = this.beast ? 10 : 200;
    setInterval(this.tick, interval);
  }

  tick() {
    const ceil = this.beast ? 500 : 10;
    this.n = Math.floor(Math.random() * ceil);
  }

  submit() {
    this.dialog = true;
  }

  dismiss() {
    this.dialog = false;
    this.number = 0;
  }
}
</script>

<style scoped>
.plus {
  width: 4em;
}
</style>
