<template>
  <div>
    <div>{{ number | phoneNumber }}</div>

    <div>
      <button @click="number++">+1</button>
      <button @click="submit">Submit</button>
      <button @click="number = 0">Reset</button>
    </div>

    <DialogModal v-model="dialog">
      <template v-slot:header>
        <span>Congratulations</span>
      </template>

      <div>
        You have submitted your phone number as {{ number | phoneNumber }}
      </div>

      <template v-slot:footer>
        <button @click="dismiss">Dismiss</button>
      </template>
    </DialogModal>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import phoneNumber from "../filters/phoneNumber";
import DialogModal from "../components/DialogModal.vue";

@Component({
  name: "PlusOne",
  filters: {
    phoneNumber
  },
  components: {
    DialogModal
  }
})
export default class PlusOne extends Vue {
  public number = 0;
  public dialog = false;

  submit() {
    this.dialog = true;
  }

  dismiss() {
    this.dialog = false;
    this.number = 0;
  }
}
</script>

<style scoped></style>
