<template>
  <div>
    <div>
      Press <kbd>{{ key }}</kbd> for <kbd>{{ digit }}</kbd>
    </div>
    <div class="result">{{ number | phoneNumber(false) }}</div>
    <div>
      <button @click="dialog = true">Submit</button>
      <button @click="number = ''">Reset</button>
      <label>
        Easy mode
        <input type="checkbox" v-model="easy" />
      </label>
    </div>

    <DialogModal v-model="dialog">
      <template v-slot:header>
        Congratulation
      </template>

      <div>
        You have inputted your phone number as {{ number | phoneNumber }}
      </div>

      <template v-slot:footer>
        <button @click="dismiss">Dismiss</button>
      </template>
    </DialogModal>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import random from "lodash-es/random";
import phoneNumber from "../filters/phoneNumber";
import DialogModal from "../components/DialogModal.vue";

@Component({
  name: "RandomKey",
  filters: {
    phoneNumber
  },
  components: {
    DialogModal
  }
})
export default class RandomKey extends Vue {
  public number = "";
  public keycode = random(97, 97 + 25);
  public digit = random(0, 10);
  public dialog = false;
  public easy = false;
  public timer: number | null = null;

  created() {
    document.addEventListener("keydown", this.keydown);
    this.timer = setInterval(this.tick, 300);
  }

  beforeDestroy() {
    document.removeEventListener("keydown", this.keydown);
    if (this.timer != null) {
      clearInterval(this.timer);
      this.timer = null;
    }
  }

  @Watch("easy")
  attachTick() {
    if (this.timer != null) {
      clearInterval(this.timer);
    }

    const duration = this.easy ? 500 : 300;
    this.timer = setInterval(this.tick, duration);
  }

  get key() {
    return String.fromCharCode(this.keycode);
  }

  tick() {
    this.digit = Math.floor(Math.random() * 10);
    this.keycode = 97 + Math.floor(Math.random() * 26);
  }

  dismiss() {
    this.dialog = false;
    this.easy = false;
    this.number = "";
  }

  keydown(e: KeyboardEvent) {
    if (e.key === "Backspace") {
      this.number = "";
    } else if (this.number.length < 8 && e.key.toLowerCase() === this.key) {
      this.number += String(this.digit);
    }
  }
}
</script>

<style scoped>
kbd {
  padding: 0.2rem 0.4rem;
  font-size: x-large;
  color: #fff;
  background-color: #333;
  border-radius: 0.2rem;
}

.result {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
</style>
