<template>
  <div>
    <h3>Is {{ number | phoneNumber }} your phone number?</h3>
    <div>
      <button @click="correct">Yes</button>
      <button @click="incorrect">No</button>
    </div>
    <h3>You have guessed for {{ count }} times.</h3>

    <DialogModal v-model="dialog">
      <template v-slot:header>
        <span>Congratulation</span>
      </template>

      <span>
        After guessing for {{ count }} times, you have selected you phone number
        {{ number }}.
      </span>

      <template v-slot:footer>
        <button @click="dismissDialog">Dismiss</button>
      </template>
    </DialogModal>
  </div>
</template>

<script>
import phoneNumber from "../filters/phoneNumber";
import DialogModal from "../components/DialogModal";

function randomPhone() {
  return Math.floor(Math.random() * 89999999) + 10000000;
}

export default {
  name: "Random",
  data: () => ({
    number: randomPhone(),
    count: 0,
    dialog: false
  }),
  filters: {
    phoneNumber
  },
  components: {
    DialogModal
  },
  methods: {
    incorrect() {
      this.count++;
      this.number = randomPhone();
    },
    correct() {
      this.dialog = true;
    },
    dismissDialog() {
      this.dialog = false;
      this.count = 0;
      this.number = randomPhone();
    }
  }
};
</script>
