<template>
  <div>
    <div id="buttons">
      <FlyBtn @click="click('0')">0</FlyBtn>
      <FlyBtn @click="click('1')">1</FlyBtn>
      <FlyBtn @click="click('2')">2</FlyBtn>
      <FlyBtn @click="click('3')">3</FlyBtn>
      <FlyBtn @click="click('4')">4</FlyBtn>
      <FlyBtn @click="click('5')">5</FlyBtn>
      <FlyBtn @click="click('6')">6</FlyBtn>
      <FlyBtn @click="click('7')">7</FlyBtn>
      <FlyBtn @click="click('8')">8</FlyBtn>
      <FlyBtn @click="click('9')">9</FlyBtn>
    </div>
    <div>Your phone number is {{ number | phoneNumber(false) }}</div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import FlyBtn from "../components/FlyBtn.vue";
import phoneNumber from "../filters/phoneNumber";

@Component({
  name: "ReflecBeat",
  components: {
    FlyBtn
  },
  filters: {
    phoneNumber
  }
})
export default class ReflecBeat extends Vue {
  public number = "";

  click(num: string) {
    if (this.number.length < 8) {
      this.number += num;
    }
  }
}
</script>

<style scoped>
.btn {
  position: fixed;
  transition-timing-function: linear;
  transition-property: transform;
  font-size: 2em;
}
</style>
