<template>
  <div>
    <div>
      <input
        class="slider"
        type="range"
        v-model="number"
        min="1"
        max="99999999"
      />
    </div>
    <h3>Your phone number is {{ number | phoneNumber }}</h3>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import phoneNumber from "../filters/phoneNumber";

@Component({
  name: "Slider",
  filters: {
    phoneNumber
  }
})
export default class Slider extends Vue {
  public number = "55555555";
}
</script>

<style scoped>
.slider {
  width: 100%;

  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover,
.slider:active {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #42b983;
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}

.slider::-webkit-slider-thumb:hover,
.slider::-webkit-slider-thumb:active {
  width: 25px;
  height: 25px;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #42b983;
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}

.slider::-moz-range-thumb:hover,
.slider::-moz-range-thumb:active {
  width: 25px;
  height: 25px;
}
</style>
