<template>
  <div :class="{ modal: true, show: value }">
    <div class="modal-content">
      <h3 class="modal-header">
        <slot name="header"></slot>
      </h3>
      <div class="modal-body">
        <slot></slot>
      </div>
      <div class="modal-footer">
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({
  name: "DialogModal"
})
export default class DialogModal extends Vue {
  @Prop(Boolean) public value!: boolean;
}
</script>

<style scoped>
.modal {
  opacity: 0;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s, opacity 0.3s;
}
.modal.show {
  display: block;
  z-index: 2;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
}

.modal-body {
  margin: 12px;
}

.modal-footer {
  text-align: right;
}
</style>
