<template functional>
  <select
    :disabled="props.disabled"
    :value="props.value"
    @change="listeners.input($event.target.value)"
    @keydown.prevent
  >
    <option v-for="opt in props.options" :value="opt" :key="opt">
      {{ opt }}
    </option>
  </select>
</template>

<script lang="ts">
export default {
  name: "DropdownSelect",
  functional: true,
  props: {
    value: String,
    options: Array,
    disabled: Boolean
  }
};
</script>

<style scoped></style>
