<template>
  <button
    type="button"
    class="btn"
    :style="styleObj"
    @transitionend="calcPath"
    @mousedown="$emit('click')"
  >
    <slot></slot>
  </button>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import random from "lodash-es/random";

interface CSSStyle {
  left?: string;
  top?: string;
  transitionDuration?: string;
  transform?: string;
}

interface PhysicsParams {
  width: number;
  height: number;
  x: number;
  y: number;
  vx: number;
  vy: number;
}

interface PhysicsRes {
  xf: number;
  yf: number;
  style: CSSStyle;
}

function calcTime(v: number, s: number): number {
  if (v === 0) {
    return Infinity;
  }
  return Math.abs(s / v);
}

function calcFinalPos(original: number, v: number, t: number): number {
  const s = v * t;
  return original + s;
}

function physics({ width, height, x, y, vx, vy }: PhysicsParams): PhysicsRes {
  let sx = 0;
  if (vx > 0) {
    sx = width - x;
  } else if (vx < 0) {
    sx = -x;
  }

  let sy = 0;
  if (vy > 0) {
    sy = height - y;
  } else if (vy < 0) {
    sy = -y;
  }

  const tx = calcTime(vx, sx);
  const ty = calcTime(vy, sy);

  const t = Math.min(tx || Infinity, ty || Infinity);

  const xf = calcFinalPos(x, vx, t);
  const yf = calcFinalPos(y, vy, t);

  return {
    style: {
      transitionDuration: `${t}s`,
      transform: `translateX(${vx * t}px) translateY(${vy * t}px)`
    },
    xf,
    yf
  };
}

@Component({
  name: "FlyBtn"
})
export default class FlyBtn extends Vue {
  xf: number = 0;
  yf: number = 0;
  vx: number = 0;
  vy: number = 0;
  styleObj: CSSStyle = {};

  mounted() {
    const el = this.$el as HTMLElement;
    const width = window.innerWidth - el.offsetWidth;
    const height = window.innerHeight - el.offsetHeight;

    const x = random(0, width);
    const y = random(0, height);
    const v = random(300, 500);
    const theta = random(15, 345);
    const vx = Math.floor(v * Math.sin((theta * Math.PI) / 180));
    const vy = Math.floor(v * Math.cos((theta * Math.PI) / 180));
    const res = physics({ width, height, x, y, vx, vy });

    this.vx = vx;
    this.vy = vy;
    this.xf = res.xf;
    this.yf = res.yf;

    this.styleObj = {
      left: `${x}px`,
      top: `${y}px`
    };

    requestAnimationFrame(() => {
      this.styleObj = {
        ...this.styleObj,
        ...res.style
      };
    });
  }

  calcPath() {
    this.styleObj = {
      left: `${this.xf}px`,
      top: `${this.yf}px`
    };

    requestAnimationFrame(() => {
      const el = this.$el as HTMLElement;
      const width = window.innerWidth - el.offsetWidth;
      const height = window.innerHeight - el.offsetHeight;

      if (this.xf <= 0 || this.xf >= width) {
        this.vx = -this.vx;
      }
      if (this.yf <= 0 || this.yf >= height) {
        this.vy = -this.vy;
      }

      const res = physics({
        width,
        height,
        x: this.xf,
        y: this.yf,
        vx: this.vx,
        vy: this.vy
      });

      this.xf = res.xf;
      this.yf = res.yf;

      this.styleObj = {
        ...this.styleObj,
        ...res.style
      };
    });
  }
}
</script>

<style scoped>
.btn {
  position: fixed;
  transition-timing-function: linear;
  transition-property: transform;
  font-size: 2em;
}
</style>
