<template>
  <div class="root">
    <h3>Pick your phone number</h3>

    <div class="content">
      <router-view></router-view>
    </div>

    <div class="nav">
      <h4>Other efficient methods</h4>
      <ul>
        <li><router-link to="/dropdown">Dropdown</router-link></li>
        <li><router-link to="/slider">Slider</router-link></li>
        <li><router-link to="/random">Random guess</router-link></li>
        <li><router-link to="/guess">Sensible guess</router-link></li>
        <li><router-link to="/plus-one">+1</router-link></li>
        <li><router-link to="/plus-n">+???</router-link></li>
        <li><router-link to="/binary">binary</router-link></li>
        <li><router-link to="/random-key">Random Key</router-link></li>
        <li><router-link to="/reflec-beat">Reflec Beat</router-link></li>
      </ul>
    </div>
  </div>
</template>

<style scoped>
.content {
  padding: 8px;
  text-align: center;
  border-color: #525b65;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-top-style: solid;
}

.root {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  max-width: 900px;
  margin: auto;
}

.nav a {
  font-weight: bold;
  color: #2c3e50;
}

.nav a.router-link-exact-active {
  color: #42b983;
}
</style>
